.login-wrapper {
	padding: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    overflow: hidden;
    box-sizing: border-box;
    flex-direction: column;  /* 자식 요소를 수직으로 정렬 */
}

.site-title-login {
	color: #ffffff;
    letter-spacing: -1.5px;
    text-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
	margin-bottom: 50px;
}

.site-title-login h1 {
	position: relative;
    font-size: 3.75rem;
    font-weight: 900;
	top: -80px;
}

.login-title{
	color: white;
	text-align: center;
	font-size: 35px;
	margin-bottom: 50px;
}

.login-container{
	margin-top: -70px;
	background: rgba(255, 255, 255, 0.11);
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
    border-radius: 28px;
    padding: 4rem 4rem;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 25px 70px rgba(0, 0, 0, 0.35);
}

.login-label{
	color: white;
	font-size: 17px;
	font-weight: 600;
	margin-top: 15px;
	margin-bottom: 10px;
}

.login-input{
	flex: 1;
    padding: 1rem 0.8rem;
	width: 100%;
    font-size: 1.15rem;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 18px;
    color: white;
    outline: none;
    transition: all 0.3s ease;
}

.login-title{
	margin-top: -25px;
}

.login-btn{
	background-color: #3b82f6;
    color: white;
    border: none;
    padding: 16px 1px;
    border-radius: 20px;
	font-size: 18px;
	font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-top: 30px;
	margin-bottom: 10px;
}
.login-btn:hover{
	background-color: #1e40af;
}

.login-register-btn{
	position: relative;
	top: 20px;
	left: 340px;
	background: transparent;   
	border: none;             
	font: inherit;        
	font-size: 16px;
	font-weight: 500;
	color: white;     
	cursor: pointer;       
	text-decoration: none;
}

.login-hr{
	margin: 15px auto 20px auto;
	margin-bottom: 20px;
	height: 2px;
	border: none;
	background-color: #ffffff;
	width: 100%;
}

.hr-with-text {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0;
}

.hr-with-text::before,
.hr-with-text::after {
  content: "";
  flex: 1;
  border-bottom: 2px solid #ffffff; /* 선 색상 */
}

.hr-with-text:not(:empty)::before {
  margin-right: 10px; /* 글자 왼쪽 공간 */
}

.hr-with-text:not(:empty)::after {
  margin-left: 10px; /* 글자 오른쪽 공간 */
}

.hr-with-text span {
  color: #ffffff; /* 글자 색상 */
  font-weight: bold;
}














